#main-container {
    padding-top: 3pc;
}

#foot-actions {
    width: 100%;
    left: 0;
    position: fixed;
    bottom: 0;
    padding: 24px;
    background: rgba(0, 0, 0, 0.8);
}

#map{ height:100vh; }

ul.nav-inline {
 list-style: none;   
}

ul.nav-inline li {
    display: inline;
}

ul.nav-inline.right {
    margin-left: 71%;
}

.galeria {
    display: inline-flex
}

.galeria .imgContainer {
    width: 20%;
    float: left;
    margin-right: 4px;
}

.galeria .imgContainer img{
    max-width: 100%;
}

.btn-custom {
    background-color: #62B3AA !important;
    border-color: #62B3AA !important;
    color: white !important;
}

.img-wrapper img {
    max-width: 100%;
}

.click-item {
    text-decoration: none;
    color: inherit;
}

.reset-link {
    color: inherit;
    text-decoration: none; 
}

.reset-link:hover {
    color: inherit;
    text-decoration: none; 
}